<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> RecruitRight Team </title> 
    <link rel="stylesheet" href="./contactS.css">
</head>
<body> 
    <h1> <center> <u> Contact Us </u> </center> </h1> 
    <p> 
        If you are facing any issues, or have any queries, please feel free to reach out to us: 
        <div class = "grid-container"> 
            <div class = "card" "card1">
                <p> G. V. Vinay Krishna <br>
                    Mobile: 99633 30526 <br>
                    Email: 24071a6615@vnrvjiet.in 
                </p>
            </div>

            <div class = "card" "card2">
                <p> K. Pavani <br>
                    Mobile: 63040 95913 <br>
                    Email: 24071a6625@vnrvjiet.in 
                </p>
            </div>

            <div class = "card" "card3">
                <p> P. Anugna <br>
                    Mobile: 76709 78564 <br>
                    Email: 24071a6647@vnrvjiet.in 
                </p>
            </div>

            <div class = "card" "card4">
                <p> S. Varnika <br>
                    Mobile: 91211 39191 <br>
                    Email: 24071a6658@vnrvjiet.in 
                </p>
            </div>

            <div class = "card" "card5">
                <p> M. Hasini <br>
                    Mobile: 83090 00931 <br>
                    Email: 25075a6606@vnrvjiet.in 
                </p>
            </div>
        </div> 
    </p>
</body> 
</html> 