<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> 🔍 RecruitRight - The One-Stop Solution for Recruitment </title> 
    <link rel="stylesheet" href="./styles.css"> 
</head> 
<body class="c"> 
    <center> <h1 id = 'title'> RecruitRight - Your Smart Recruiter Assistant </h1> </center> 
    <p> 
        Enter the job vacancy details below, along with the preference weights for your 
        search parameters; and let RecruitRight find the perfect candidates for you! 

        After submitting the job description, proceed to the Results Portal to view the 
        ranked list of candidates that best match your job requirements. 
    </p>     
</body> 
</html> 