<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./help.css">
</head>
<body>
    <h1 class="ab">Any FAQs? Feel free to contact us</h1>
    <p> 
        For any help regarding the usage of the RecruitRight tool, please refer to the 
        user manual provided on the home page. 

        If you have any further queries, please reach out to us via the Contact Us page.
        </p>
        <div class = "grid-container"> 
            <div class = "card card1">
                <p> G. V. Vinay Krishna <br>
                    Mobile: 99633 30526 <br>
                    Email: 24071a6615@vnrvjiet.in 
                </p>
            </div>

            <div class = "card card2">
                <p> K. Pavani <br>
                    Mobile: 63040 95913 <br>
                    Email: 24071a6625@vnrvjiet.in 
                </p>
            </div>

            <div class = "card card3">
                <p> P. Anugna <br>
                    Mobile: 76709 78564 <br>
                    Email: 24071a6647@vnrvjiet.in 
                </p>
            </div>

            <div class = "card card4">
                <p> S. Varnika <br>
                    Mobile: 91211 39191 <br>
                    Email: 24071a6658@vnrvjiet.in 
                </p>
            </div>

            <div class = "card card5">
                <p> M. Hasini <br>
                    Mobile: 83090 00931 <br>
                    Email: 25075a6606@vnrvjiet.in 
                </p>
            </div>
        </div> 
</body>
</html>